<?xml version="1.0" encoding="UTF-8"?>
<suite  name="automationexercise regression Suite">
<parameter name = "browser" value = "chrome-headless"></parameter>
  <test name=" Regression Test" preserve-order = "false">
    <classes>
      <class name="Tests.UserRegisterationTest"/>
      <class name="Tests.AddProductToCartTest"/>
      <class name="Tests.ContactUSTest"/>
      <class name="Tests.RegisteredUserCheckOutAndDownloadInvoiceTest"/>
      <class name="Tests.SearchProductTest"/>
      <class name="Tests.UserLoginTest"/>
    </classes>
  </test> 
</suite> 
